.cards {
  width: 100%;
}

.cards__container {
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: minmax(223px, 1fr);
  gap: 38px 20px;
  padding: 70px 0 0;
}

.cards__load {
  background: #f9f9f9;
  height: 36px;
  padding: 0;
  border: 0;
  cursor: pointer;
  margin: 50px auto 80px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 769px) {
.cards__container {
  gap: 30px;
}
}

@media screen and (max-width: 321px) {
  .cards__container {
    padding: 50px 0 0;
    gap: 34px;
    width: calc(100% - 10px);
  }
  }