.cards {
  width: 100%;
}

.cards__no {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 10px auto 0;
  color: #fff;
  text-align: center;
}

.cards__container {
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: minmax(223px, 1fr);
  grid-template-rows: auto;
  gap: 38px 20px;
  padding: 70px 0 0;
}

.cards__load {
  background: #2f2f2f;
  color: #fff;
  height: 36px;
  width: 320px;
  padding: 0;
  border: 0;
  cursor: pointer;
  margin: 50px auto 80px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}

.cards__load:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
.cards__container {
  gap: 30px;
}
}

@media screen and (max-width: 561px) {
  .cards__container {
    padding: 50px 0 0;
    gap: 34px;
    width: calc(100% - 10px);
  }
  }