.cards {

}

.cards__container {
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: minmax(230px, 1fr);
  gap: 38px 20px;
  padding: 70px;
}

.cards__load {
  background: #f9f9f9;
  height: 36px;
  width: calc(100% - 70px*2);
  padding: 0;
  border: 0;
  cursor: pointer;
  margin: 50px auto 80px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}