.card {
  display: flex;
  flex-direction: column;
}

.card__picture {
  position: relative;
  width: 100%;
  min-height: 151px;
}


.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
 }


.card__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0 0;
  padding-bottom: 29px;
  border-bottom: 1px solid #424242;
}

.card__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  color: #fff;
}

.card__like {
  background: #313131 url(../../images/like.svg) no-repeat center;
  min-height: 24px;
  max-height: 24px;
  min-width: 24px;
  border-radius: 12px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.card__like_active {
  background: #313131 url(../../images/liked.svg) no-repeat center;
}

.card__unlike {
  min-height: 24px;
  max-height: 24px;
  min-width: 24px;
  border-radius: 12px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: #313131 url(../../images/delete.svg) no-repeat center;
}

.card__duration {
  margin: 6px 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8b8b8b;
}

@media screen and (max-width: 1024px) {
.card__caption {
  margin: 14px 0 29px 0;
}
}

@media screen and (max-width: 600px) {
  .card__unlike {
    background: #313131 url(../../images/delete.svg) no-repeat center;
  }
}

