.portfolio {
  margin: 101px auto 125px;
}

.portfolio__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
  margin: 0 auto 50px;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.portfolio__link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
}


.portfolio__link:not(:last-child) {
  margin-bottom: 19px;
  border-bottom: 1px solid #e6e6e6;
}

.portfolio__linktext {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000;
}

.portfolio__linkarrow {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #000;
}
