.portfolio {
  margin: 101px auto 125px;
}

.portfolio__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  mix-blend-mode: normal;
  margin: 0 auto 50px;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.portfolio__link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link:not(:last-child) {
  margin-bottom: 19px;
  border-bottom: 1px solid #424242;
}

.portfolio__link-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #fff;
}

.portfolio__link-arrow {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 769px) {
.portfolio {
  margin: 91px auto 90px;
}

.portfolio__linktext {
  font-size: 28px;
}

.portfolio__linkarrow {
  font-size: 28px;
}
}

@media screen and (max-width: 321px) {
  .portfolio {
    margin: 69px auto 70px;
    width: calc(100% - 14px * 2);
  }

  .portfolio__title {
    font-size: 14px;
    margin: 0 auto 40px;
  }

  .portfolio__link-text {
    font-size: 18px;
    line-height: 20px;
  }

  .portfolio__link-arrow {
    font-size: 18px;
    line-height: 28px;
  }
}