.promo {
  background-color: #073042;
  position: relative;
  background-image: url(../../images/landing-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.promo__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 228px auto 224px;
  max-width: 730px;
}

@media screen and (max-width: 321px) {
  .promo {
    background-size: 248px;
  }
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    margin: 207px auto 246px;
    max-width: 300px;
  }
}