.search {
  margin: 154px auto 0;
  padding-bottom: 70px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.search__query-container {
  border-radius: 450px;
  background: #2f2f2f;
  height: 48px;
  display: flex;
  align-items: center;
  width: calc(100% - 70px * 2);
}

.search__query {
  width: 100%;
  padding: 15px 20px;
  border: 0;
  background: #2f2f2f;
  border-radius: 200px;
  border-top-style: none;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.search__query:focus {
  outline: none;
  border: 1px solid #dadada;
}

.search__query::-webkit-input-placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #8b8b8b;
}
.search__query::-moz-placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #8b8b8b;
}

.search__submit {
  overflow: visible;
  position: absolute;
  border: 0;
  right: 68px;
  padding: 0;
  cursor: pointer;
  height: 48px;
  color: #fff;
  border-radius: 46px;
  width: 34px;
  background-color: #2F2F2F;
  background-image: url(../../images/find.svg);
  background-position: right center;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.search__submit:hover {
  opacity: 0.8;
}

.search__error-noquery {
  font-family: 'Inter', Arial, sans-serif;
  text-align: left;
  color: #ee3465;
  height: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}

@media screen and (max-width: 769px) {
.search {
  padding-bottom: 57px;
}

.search__query-container {
  width: calc(100% - 30px * 2);
}

.search__submit {
  right: 34px;
  margin-right: 6px;
}
}

@media screen and (max-width: 321px) {
  .search {
    margin: 140px auto 0;
  }

  .search__query-container {
    width: calc(100% - 14px * 2);
  }

  .search__submit {
    right: 14px;
  }
}