.header {
  height: 74px;
  width: 100%;
  max-width: 1280px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.logo {
  margin-left: 70px;
  height: 38px;
  max-width: 38px;
 }