.header {
  margin: 0;
  height: 74px;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 70px;
  height: 38px;
  max-width: 38px;
 }