.project {
    background: #fff;
}

.project__desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 70px auto 110px;
}

.project__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000;
    margin-bottom: 26px;
}

.project__text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    max-width: 550px;
}

.project__timeline {
    display: grid;
    grid-template-columns: 20% 80%;
    row-gap: 14px;
    margin-bottom: 110px;
}

.project__time {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000;
    padding: 9px;
}

.project__time_color_green {
    background: #2be080;
}

.project__time_color_gray {
    background: #f2f2f2;
}

.project__annot {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a0a0a0;
}
