.footer {
  background: #202020;
}

.footer__credits {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  margin: 79px auto 20px;
}

.footer__text {
  padding: 20px 0;
  border-top: 1px solid #424242;
  display: flex;
}

.footer__date {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.footer__links {
  display: flex;
  gap: 20px;
  padding: 0;
}

.footer__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 321px) {
  .footer__credits {
    font-size: 12px;
    line-height: 15px;
    margin: 79px auto 21px;
  }

  .footer__text {
    flex-direction: column-reverse;
  }

  .footer__links {
    flex-direction: column;
    gap: 12px;
    padding: 0;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .footer__link:hover {
    opacity: 0.7;
  }

  .footer__date {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #a0a0a0;
  }
}