.techs {
    background: #f5f5f5;
}

.techs__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000;
    margin: 90px auto 26px;
}

.techs__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  max-width: 460px;
  text-align: center;
}

.techs__list {
    margin: 100px auto;
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 10px;
    justify-content: center;
  }

.techs__name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000;
  background: #E8E8E8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}