.techs {
    background: #272727;
}

.techs__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #fff;
    margin: 90px auto 26px;
}

.techs__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  max-width: 460px;
  text-align: center;
  margin: 0 auto;
}

.techs__list {
  margin: 100px auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
  padding: 0;
  gap: 10px;
  justify-content: center;
  width: calc(100% - 71px * 2);
}

.techs__name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
  background: #303030;
  border-radius: 10px;
  min-width: 90px;
  max-height: 60px;
}

@media screen and (max-width: 1024px) {
.techs__subtitle {
  margin: 80px auto 22px;
}

.techs__text {
  font-size: 12px;
  line-height: 18px;
}

.techs__list {
  margin: 83px auto 90px;
}

.techs__name {
  font-size: 12px;
  line-height: 57px;
  min-width: 84px;
  max-height: 57px;
}
}

@media screen and (max-width: 561px) {
  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 60px auto 24px;
}

.techs__text {
  font-size: 11px;
  line-height: 16px;
}

.techs__list {
  margin: 50px auto 70px;
}

.techs__name {
  font-size: 12px;
  line-height: 60px;
  max-width: 84px;
}
}