@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.root {
    max-width: 1280px;
    width: 100vw;
    margin: auto;
}

.block {
    width: 100%;
    max-width: 1280px;
    display: flex;
}

.section {
    height: 100vh;
}