@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/block.css);
@import url(./blocks/section.css);
@import url(./blocks/account.css);
@import url(./blocks/logo.css);

.root {
    max-width: 1280px;
    margin: auto;
    background-color: #202020;
}

@media screen and (max-width: 769px) {
.root {
    max-width: 768px;
}
}

@media screen and (max-width: 321px) {
    .root {
        max-width: 320px;
    }
}