.aboutme {
  background: #fff;
}

.aboutme__bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 66px;
}

.aboutme__narrative {
  position: relative;
}

.aboutme__name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000;
  margin: 0 auto 18px;
}

.aboutme__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #111;
  mix-blend-mode: normal;
  margin: 0 auto 26px;
}

.aboutme__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  mix-blend-mode: normal;
  max-width: 600px;
}

.aboutme__social {
  position: absolute;
  bottom: 0;
  padding: 0;
}

.aboutme__social-link {
  margin-right: 20px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;
}

.aboutme__portrait {
  max-width: 270px;
}

.aboutme__portfolio {
  margin: 101px auto 125px;
}

.aboutme__portfolio-title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
  margin-bottom: 50px;
}

.aboutme__links {
  display: flex;
  flex-direction: column;
  padding: 0;
}


.aboutme__link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
}

.aboutme__link:not(:last-child) {
  margin-bottom: 19px;
  border-bottom: 1px solid #e6e6e6;
}

.aboutme__linktext {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000;
}

.aboutme__linkarrow {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #000;
}