.navtab {
  display: flex;
  margin: 0 auto 75px;
}

.navtab__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 16px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
 }

.navtab__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 769px) {
  .navtab__link {
    margin: 0 auto;
   }
}

@media screen and (max-width: 321px) {
  .navtab {
    height: 66px;
    gap: 24px;
  }

  .navtab__link {
    font-size: 11px;
  }
}